.button-wrapper {
  width: 341px;
  border-radius: 60px;
  padding: 12px 12px 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;

  background: #244c98;
  border: none;
  cursor: pointer;

  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
}

.arrow-wrapper {
  width: 44px;
  height: 44px;
  border-radius: 40px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

@media (max-width: 475px) and (min-width: 375px) {
  .button-wrapper {
    padding: 10px 10px 10px 18px;
    width: 250px;
    height: 56px;
    margin-top: 18px;

    font-size: 15px;
  }

  .arrow-wrapper {
    width: 36px;
    height: 36px;
    padding: 6px;
  }
}
